.coaches {
  padding-bottom: 88px;

  @include vp-1199 {
    padding-bottom: 77px;
  }

  @include vp-767 {
    padding-bottom: 43px;
  }
}

.coaches__title {
  @include font(49px, 49px, 700, $color-basic-dark);
  font-family: $second-font;
  letter-spacing: 0.03em;
  margin: 0 0 50px;

  @include vp-1199 {
    @include font(42px, 42px, 700, $color-basic-dark);
    text-align: center;
    margin: 0 0 40px;
  }

  @include vp-767 {
    @include font(32px, 32px, 700, $color-basic-dark);
    margin: 0 0 43px;
  }
}

.coaches__wrapper {
  position: relative;
}

.coaches__swiper {
  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.coaches__image {
  position: relative;
}

.coaches__image h3 {
  @include font(18px, 150%, 700, $color-default-white);
  position: relative;
  text-align: center;
  bottom: 47px;
  margin: 0;
}

.coaches__info {
  background-color: $color-basic-dark-89;
  width: 260px;
  height: 294px;
  // width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 55px;
  display: none;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    padding-top: 43px;
    width: 226px;
    height: 274px;
  }
}

.coaches__slide:hover .coaches__info,
.coaches__slide:focus .coaches__info {
  display: block;
}

.coaches__slide:hover .coaches__image h3,
.coaches__slide:focus .coaches__image h3 {
  display: none;
}

.coaches__info h3 {
  @include font(18px, 150%, 700, $color-default-white);
  text-align: center;
  margin: 0;
}

.coaches__info p {
  @include font(16px, 100%, 400, $color-spindle);
  margin: 0 0 35px;
  text-align: center;
}

.coaches__info ul {
  margin: 0;
  padding-left: 75px;

  @include vp-767 {
    padding-left: 50px;
  }
}

.coaches__info li {
  @include font(14px, 150%, 400, $color-default-white);
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.coaches__next {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/svg/button-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 55%;
  right: 40px;
  cursor: pointer;

  @include vp-1199 {
    top: 53%;
    right: 38px;
  }

  @include vp-767 {
    background-image: url("../img/svg/button-next-mobile.svg");
    right: 5px;
    top: 52%;
  }
}

.coaches__prev {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/svg/button-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 55%;
  left: 40px;
  cursor: pointer;

  @include vp-1199 {
    top: 53%;
    right: 38px;
  }

  @include vp-767 {
    background-image: url("../img/svg/button-prev-mobile.svg");
    left: 5px;
    top: 52%;
  }
}


.coaches__slide img {
  object-fit: cover;
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}
