.contact__wrapper {
  display: flex;
  justify-content: center;

  @include vp-1199 {
    display: block;
    // flex-direction: column;
  }
}

.contact__title {
  @include font(49px, 49px, 700, $color-basic-dark);
  font-family: $second-font;
  letter-spacing: 0.03em;
  margin: 0 0 40px;

  @include vp-1199 {
    text-align: left;
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }

  &--bid {
    color: $color-default-white;
    padding-right: 215px;
    margin-bottom: 35px;

    @include vp-1199 {
      padding: 0;
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }
}

.contact__left-block {
  background-color: $color-basic-dark;
  width: 50vw;
  padding-top: 70px;
  // padding-bottom: 55px;

  @include vp-1199 {
    width: 100%;
    padding-left: 133px;
    padding-bottom: 68px;
  }

  @include vp-767 {
    padding-left: calc(133px - (768px - 100vw) / (768 - 320) * (133 - 15));
    padding-right: calc(133px - (768px - 100vw) / (768 - 320) * (133 - 15));
    padding-bottom: 71px;
  }
}

.contact__right-block {
  padding-top: 70px;
  width: 50vw;
  padding-left: 120px;
  padding-bottom: 48px;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1199 {
    width: 100%;
    padding-left: 133px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-left: calc(133px - (768px - 100vw) / (768 - 320) * (133 - 15));
    padding-right: calc(133px - (768px - 100vw) / (768 - 320) * (133 - 15));
    padding-bottom: 45px;
  }
}

.contact__bid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1199 {
    align-items: flex-start;
  }
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding-right: 170px;

  @include vp-1199 {
    padding-right: 0;
    column-gap: 65px;
    // margin: 0 auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.contact__field {
  display: flex;
  align-items: center;
  width: 190px;
  height: 32px;
  border-bottom: 1px solid $color-light-slate-grey;
  margin-bottom: 29px;

  @include vp-1199 {
    width: 205px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.contact__field-phone {
  @include vp-767 {
    margin-bottom: 37px;
  }
}

.contact__form label {
  @include font(14px, 16px, 400, $color-default-white);
}

.contact__form input {
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  color: $color-default-white;

  @include vp-767 {
    width: 100%;
  }
}

.contact__form input[name="name"] {
  width: 165px;

  &:hover {
    background-color: $color-basic-dark-50;
  }

  @include vp-767 {
    width: 100%;
  }
}

.contact__form input[name="phone"] {
  width: 140px;

  &:hover {
    background-color: $color-basic-dark-50;
  }

  @include vp-767 {
    width: 100%;
  }
}

.contact__form button {
  grid-column-start: 1;
  grid-column-end: 3;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @include font(14px, 16px, 700, $color-default-white);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 3px solid $color-default-white;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 404px;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 102px;
    background-color: $color-light-slate-grey;
    top: 5px;
    left: 58%;

    @include vp-1199 {
      height: 150px;
    }

    @include vp-767 {
      height: 1px;
    }
  }

  @include vp-1199 {
    width: 459px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.contact__item {
  padding-bottom: 15px;

  @include vp-1199 {
    padding-bottom: 20px;
  }

  @include vp-767 &:nth-child(2n) {
    padding-left: 100px;
    justify-self: left;

    @include vp-1199 {
      padding-right: 2px;
      padding-left: 98px;
    }

    @include vp-767 {
      padding-left: 0;
    }
  }
}

.contact__item a:hover {
  opacity: 0.7;
}

.contact__item-phone {
  @include vp-767 {
    order: 1;
  }
}

.contact__item-mail {
  @include vp-767 {
    order: 2;
  }
}

.contact__item h3 {
  @include font(16px, 150%, 700, $color-basic-dark);
  margin: 0 0 5px;

  @include vp-1199 {
    @include font(20px, 150%, 700, $color-basic-dark);
  }
}

.contact__item p {
  @include font(14px, 21px, 400, $color-basic-dark);
  margin: 0;

  @include vp-1199 {
    @include font(18px, 152%, 400, $color-basic-dark);
  }
}
