.feedback {
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__title {
  @include font(49px, 49px, 700, $color-basic-dark);
  font-family: $second-font;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 50px;

  @include vp-1199 {
    @include font(42px, 42px, 700, $color-basic-dark);
    margin: 0 0 40px;
  }

  @include vp-767 {
    @include font(32px, 32px, 700, $color-basic-dark);
    margin: 0 0 40px;
  }
}

.feedback__swiper {
  width: 560px;
  min-height: 242px;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  // position: relative;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 77.93%;
    min-height: 335px;
  }
}

.feedback__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 35px auto;
  column-gap: 28px;
  padding: 60px 62px 10px;
  overflow: auto;


  @include vp-767 {
    column-gap: 15px;
    grid-template-rows: 85px auto;
    padding-top: calc(62px - (768px - 100vw) / (768 - 320) * (62 - 40));
    padding-left: calc(62px - (768px - 100vw) / (768 - 320) * (62 - 25));
    padding-right: calc(62px - (768px - 100vw) / (768 - 320) * (62 - 25));
  }
}

.feedback__item img {
  grid-row-start: 1;
  grid-row-end: 3;

  @include vp-767 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @include vp-767 {
    width: 68px;
    margin-left: 16px;
  }
}

.feedback__item h3 {
  @include font(20px, 20px, 700, $color-default-white);
  margin: 0;

  @include vp-767 {
    @include font(20px, 26px, 700, $color-default-white);
    padding-top: 10px;
  }
}

.feedback__item p {
  @include font(16px, 140%, 400, $color-default-white);
  margin: 0;
  height: 100px;

  @include vp-767 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    height: 167px;
  }
}

.feedback__button.swiper-button-next {
  right: calc(340px - (1366px - 100vw) / (1366 - 1200) * (340 - 250));
  top: 220px;

  @include vp-1199 {
    right: 40px;
    top: 200px;
  }

  @include vp-767 {
    right: 7px;
    top: 243px;
  }

  @media (min-width: 1366px) {
    right: 340px;
  }

  &::after {
    color: $color-dark-gray;
    font-size: 35px;

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.feedback__button.swiper-button-prev {
  left: calc(340px - (1366px - 100vw) / (1366 - 1200) * (340 - 250));
  top: 220px;

  @include vp-1199 {
    left: 40px;
    top: 200px;
  }

  @include vp-767 {
    left: 7px;
    top: 240px;
  }

  @media (min-width: 1366px) {
    left: 340px;
  }

  &::after {
    color: $color-dark-gray;
    font-size: 35px;

    @include vp-767 {
      font-size: 20px;
    }
  }
}
